<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">

</head>
<body> 
    <div class="main-content">
          {{>header}}
    <h1>{{404}}</h1>
    <p>{{message}}</p>
    </div>
    {{>footer}}
</body>
</html>