<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Christopher Tregear</p>
        <img class="portrait" src="/img/Ethan.jpg" alt="">
        <h2>{{motto}}</h2>
    </div>
   
    {{>footer}}
</body>
</html>